<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFRKRealmRando.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FFRKRealmRando.Properties.Settings>
            <setting name="FontColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>Desktop</value>
            </setting>
            <setting name="FlashColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="LabelText" serializeAs="String">
                <value>NEXT REALM</value>
            </setting>
            <setting name="LabelFont" serializeAs="String">
                <value>Microsoft Sans Serif, 18pt, style=Bold</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>420, 280</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="BorderSize" serializeAs="String">
                <value>0</value>
            </setting>
        </FFRKRealmRando.Properties.Settings>
    </userSettings>
</configuration>